@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  display: flex;
  background: #F0F1EE;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.productContainer {
  display: flex;
  max-width: 1440px; 
  margin: 0 auto;
  gap: 80px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 20px;
  max-height: 750px;
}
.priceContent {
  display: flex;
  gap: 20px;
}

.title {
  font: 64px/.75 'EB Garamond', serif;
  color:#354733;
}

.mainSubtitle {
  font: 24px/1 'Raleway', sans-serif;
  color: #AFB2AA;
}
.labelsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.label {
  font: 16px/1 'Raleway', sans-serif;
  color: #158212;
  padding: 7px 13px;
  border-radius: 20px;
  border: 2px solid #83E281;
  background: #F6FFF6;
  max-width: fit-content;
  list-style-type: none;
}

.price, .subtitles {
  font: 24px/1 'Lato', sans-serif;
}

.riskPrice {
  font: 24px/1 'Lato', sans-serif;
text-decoration: line-through;
color: #AFB2AA;
}

.checkButton {
  font: 16px/1 'Raleway', sans-serif;
  background:#354733 ;
  color: #fff;
  padding: 18px 58px;
  border: none;
  max-width: fit-content;
  cursor: pointer;
}

.checkButton:hover {
  background:#304030 ;
}

.features, .textDescription {
  font: 400 16px/1.5 'Raleway', sans-serif ;
}

.features {
  list-style-type: disc;
  padding-left: 20px;
}

.features li::marker{
  font-size: 10px;
  align-self: center;
  display: block;
}

.textDescription {
  max-width: 68ch;
}