.img {
  max-width: 40%;
  display: block;
}

.container {
  display: flex;
  background: #f0f1ee;
  justify-content: center;
  align-items: center;
}

.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 4rem;
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 20px;
  max-height: 750px;
}
.priceContent {
  display: flex;
  gap: 20px;
}

.title {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  color: #354733;
}

.mainSubtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #afb2aa;
}
.labelsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.label {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  color: #158212;
  padding: 7px 13px;
  border-radius: 20px;
  border: 2px solid #83e281;
  background: #f6fff6;
  max-width: fit-content;
  list-style-type: none;
}

.price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #000000;
}

.riskPrice {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 29px;
  text-decoration: line-through;
  color: #afb2aa;
}

.subtitles {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.05rem;
}

.checkButton {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  background: #354733;
  color: #fff;
  padding: 14px 41px;
  border: none;
  max-width: fit-content;
  cursor: pointer;
}

.checkButton:hover {
  background: #304030;
}

.features,
.textDescription {
  font: 400 16px/1.5 "Raleway", sans-serif;
}

.features {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 0.8rem;
  width: 33rem;
}

.features li::marker {
  font-size: 10px;
  align-self: center;
  display: block;
}

.textDescription {
  max-width: 68ch;
  font-size: 0.8rem;
  color: #000000;
  text-align: left;
  width: 33rem;
}
