.container {
  background: #f0f1ee;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 8rem;
}

img {
  max-width: 100%;
  display: block;
}

.title {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  color: #354733;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

input[type="search"] {
  border: 1px solid #afb2aa;
  border-radius: 4px;
  width: 55%;
  height: 35px;
  margin-bottom: 50px;
}

input[type="search"]:focus {
  outline: none;
  font: 16px/0.75 "Inter", sans-serif;
  color: #354733;
  padding: 10px;
}

input[type="search"]::placeholder {
  font: 16px/0.75 "Inter", sans-serif;
  color: #afb2aa;
  padding: 10px;
  text-align: center;
}

.slidesContainer {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
  align-content: center;
  gap: 2rem;
  margin: 0 auto;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  text-decoration: none;
  font: 400 18px/1 "Raleway", sans-serif;
}
