.background {
  background: #fcfcfc;
}
.section_container {
  margin: 0 auto;
  background: #fcfcfc;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 6.25rem;
  margin-inline: 6.25rem;
  margin-bottom: 4rem;
}
.title h1 {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  color: #354733;
}

.title h1 span {
  color: #8a9b6e;
}

p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  color: #afb2aa;
  text-align: center;
  line-height: 174.19%;
}

.sub_title {
  width: 70%;
}

.plant_needs_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 6rem;
}

.plant_needs img {
  width: 3rem;
}

.plant_needs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 21rem;
}

h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #1e1e24;
}

.plant_photos {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  padding-bottom: 7rem;
  justify-content: center;
}

.plant_photos img {
  width: 21rem;
}

.plant_photos_container {
  width: 21rem;
}

.see_more_photos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 21rem;
}

.see_more_photos p {
  text-align: left;
  font-size: 0.8rem;
}

.see_more_photos button {
  font-family: "Raleway";
  font-weight: 400;
  width: 10rem;
  height: 3rem;
  background: #354733;
  border: none;
}

.see_more_photos button a {
  text-decoration: none;
  color: #fcfcfc;
}
