.footer {
    color: #fff;
    padding:3em;
    background-image: url('../assets/footer-pattern.svg');
    background-color: #243323;
}

.links{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 5em;
    margin-right: 2.5em;
}
.div1{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.div2 {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 1em;
}

.div3 {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 1em;
}

.div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    gap: 1em;
}
.div2 h2{
    font-size: 40px;
}
.list{
    list-style: none;
    padding: 1em;
}

.item a{
    color:#FFF;
    text-decoration: none;
}

.rodape{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-top:4em;
    margin-right:2.5em;
}

 
 