.footer {
  color: #fff;
  padding-top: 3rem;
  background-image: url("../assets/footer-pattern.svg");
  background-color: #354733;
  mix-blend-mode: multiply;
  margin: 0 auto;
}

.links {
  display: flex;
  justify-content: center;
  gap: 5em;
}
.blockContact {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  gap: 0.5em;
}

.contact h2 {
  font-size: 3em;
  font-family: "EB Garamond";
}

.contact p {
  font-family: "Raleway";
  font-size: 0.8rem;
  text-align: left;
  color: #fff;
}

.linksBlock {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: left;
}

.linksCommunity {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: left;
}

.logoReserved {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin: 0 auto;
  margin-top: 1.2rem;
  width: 85%;
  padding-bottom: 0.2rem;
}

.logoReserved p {
  font-family: "Raleway";
  font-style: normal;
  font-size: 0.8rem;
  width: 15em;
  text-align: center;
  color: #ffffff;
}

.imgLogo {
  height: 2.5em;
  margin-bottom: 1.5em;
  margin-left: 0.5em;
}

.itemLinks,
.itemCommunity {
  font-family: "Lato";
  font-size: 1rem;
}

.item {
  font-family: "Raleway";
  font-size: 0.8rem;
  font-weight: 400;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 0 auto;
  margin-top: 3rem;
  width: 85%;
  border-bottom: 0.1rem solid #dddea0;
}
