.container {
  margin-top: 9rem;
  background-image: url(../assets/main-plant.png);
  background-repeat: no-repeat;
}

.containerlove {
  display: flex;
  gap: 1rem;
}

.containerlove p {
  font-family: "Pacifico";
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}

.containerlove img {
  width: 1.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  color: #354733;
  gap: 1.5rem;
  margin-left: 6rem;
}

.item h2 {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  max-width: 30rem;
}

.span {
  color: #8a9b6e;
}

.item p {
  text-align: left;
  max-width: 30rem;
}

.item button {
  font-family: "Raleway";
  font-weight: 400;
  width: 10rem;
  height: 3rem;
  background: #354733;
  border: none;
  gap: 10rem;
}

.item button a {
  text-decoration: none;
  color: #fcfcfc;
}

.learn {
  display: flex;
  gap: 0.4rem;
  font-family: "Raleway";
  font-size: 1.2rem;
  color: #808276;
  margin-top: 15rem;
  margin-bottom: 3rem;
}

.learn img {
  width: 0.8rem;
  color: #808276;
}
