.container {

    /* position: absolute; */
    display: flex;
    flex-direction: column;
    /* align-items: normal; */
    /* background-color: #F0F1EE; */
    background-color: burlywood;
    max-width: 60%;
    height: 60vh;
    margin-top: 10%;
    padding: 2%;

}

.love {

    display: flex;
    width: 40%;
    height: 3px;
    left: 0px;
    top: 13px;
    margin-top: 1rem;
    /* Dark/IBBNB */

    background: #1E1E24;

    font-family: "Pacifico";

}

.item {


    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 5%;
    gap: 1rem;
    width: 40%;
    height: 40rem;
    

    /* Primary/Primary */

    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 8vh;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    /* Primary/Lunar green */

    color: #354733;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.span {

    color: #8A9B6E;
    /* margin: 0rem; */
    
}

.description {

    width: 611px;
    height: 97px;

    /* secondary/Secondary */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.5%;
    /* or 25px */

    display: flex;
    align-items: center;

    /* Secondary/Secondary */

    color: #808276;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.item, .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 611px;
    height: 253px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}