body {
    background-color: #F0F1EE;  
}


.container {

    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: normal;
    background-color: #F0F1EE;
    /* background-color: burlywood; */
    width: 100%;
    height: 60vh;
    margin-top: 10%;
    padding: 2%;
    gap: 1rem;

}

.containerlove {

    display: flex;
    align-items: center;
    gap: 1rem;
}


.border{
        
    width: 32px;
    height: 3px;
    
    /* Dark/IBBNB */

    background: #1E1E24;
}


.love {

    display: flex;
    width: 40%;
    
    

    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: "Pacifico";

}

.item {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0%;
    gap: 1em;
    width: 50%;
    height: 10rem;
    

    /* Primary/Primary */

    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 8vh;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    /* Primary/Lunar green */

    color: #354733;


   
}

.span {

    color: #8A9B6E;
    /* margin: 0rem; */
    
}

.description {

    width: 30%;
    height: 8rem;

    /* secondary/Secondary */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.5%;
    /* or 25px */

    display: flex;
    align-items: center;

    /* Secondary/Secondary */

    color: #808276;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

button {
    font-family: "Raleway";
    font-weight: 400;
    width: 10rem;
    height: 3rem;
    background: #354733;
    border: none;
    gap: 10rem;
  }

/* .item, .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0%;
    gap: 0vh;

    width: 50%;
    height: 10rem;


} */