.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FCFCFC;
    padding: .9em;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}

.img{
    margin-left: 2em;
    display:flex;
    flex-wrap: wrap;
    height:3.3em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    font-family:'Raleway';
}

.item{
    margin-right:3em;
    align-items: center;
    color:rgba(53, 71, 51, 1);
}

.item a{
    color:rgba(53, 71, 51, 1);
    text-decoration: none;
}

.item a:hover{
    color:#1b5327;
}

.login {
    margin-top: 1em;
    margin-right:5em;
    align-items: center;
    font-family:'Raleway';
}