.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.img {
  display: flex;
  flex-wrap: wrap;
  height: 3em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  font-family: "Raleway";
  font-weight: 400;
}

.item {
  margin-right: 3em;
  align-items: center;
  color: #354733;
}

.item a {
  color: #354733;
  text-decoration: none;
  font-size: 0.9rem;
}

.item a:hover {
  color: #8a9b6e;
}

.login {
  margin-top: 1em;
  align-items: center;
  font-family: "Raleway";
}
