.inner{
    display: flex;
}

.item{
    min-height: 12.5rem;
    min-width: 25rem;
    padding: 0.875rem;
}

.item img{
    width: 100%;
    height: 90%;
    border-radius: 0.75rem;
    pointer-events: none;
}

.carousel{
    cursor: grab;
    overflow: hidden;
    /* background-color: red; */
}