.inner{
    display: flex;
}

.item{
    min-height: 36rem;
    min-width: 25rem;
    padding: 0.875rem;
    /* background-color: red; */
}

.item img{
    width: 100%;
    height: 90%;
    pointer-events: none;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}