.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f0f1ee;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.firstH1 h1 {
  margin-top: 1.5rem;
  color: #354733;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 4rem;
}
.firstH1 span {
  color: #8a9b6e;
}

.secondH1 {
  color: #8a9b6e;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 4rem;
  margin-top: 0.7rem;
}

.secondH1 span {
  color: #354733;
}
