.inner{
    display: flex;
}

.item{
    min-height: 36rem;
    min-width: 25rem;
    padding: 0.875rem;
}

.item img{
    width: 100%;
    height: 90%;
    pointer-events: none;
}

.carousel{
    /* background-color: red; */
    cursor: grab;
    overflow: hidden;
    max-width: 83vw;
    margin: auto;
    margin-bottom: 5em;
}